@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #FFA07A;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.education{
    background-color: var(--second-bg-color);
}

.achievements{
    background-color: var(--second-bg-color);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0,0,0,.2);
}

.logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
}

span {
    color: var(--main-color);
}

.navbar a {
    color: var(--text-color);
    margin-left: 4rem;
    font-size: 1.7rem;
    font-weight: 600;
    border-bottom: 2px transparent solid;
    transition: .3s;
}

.navbar a.active{
    color: var(--main-color); 
    /* border-bottom: 2px solid white;  */
}

.navbar a:hover {
  /* border-bottom: 2px solid white;  */
  color: var(--main-color); 
}

#menu-icon {
   font-size: 3.6rem;
   color: var(--text-color);
   display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img {
     width: 35vm;
     border-radius: 25px;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 2rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h3 span{
    text-decoration: underline ;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.home-content h1 span{
    text-decoration: underline ;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid grey;
    border-radius: 50%;
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    color: white;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn{
 display: inline-block;
 padding: 1rem 2.8rem;
 background: var(--main-color);
 border-radius: 4rem;
 box-shadow: 0 0 1rem var(--main-color);
 font-size: 1.6rem;
 color: var(--second-bg-color);
 letter-spacing: .1rem;
 font-weight: 600;
 transition: .5s ease;
}

.btn:hover{
    box-shadow: none;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--second-bg-color);
}

.about-image img{
    width: 35vm;
    border-radius: 2rem;
}

.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height:1.2;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 2rem;
}

.lists-container {
    display: flex;
    flex-wrap: wrap;
}
  
.aboutlist, .aboutlistprof{
    flex: 1 1 50%; 
    padding: 0 10px;
    margin: 0;
    list-style-type: none;
}

#title {
    font-size: 1.8rem;
    color: var(--main-color);
    text-decoration: underline;
}

.aboutlist li, .aboutlistprof li {
    font-size: 1.6rem;
    margin: 2rem 1.5rem 2.0rem;
    list-style-type: circle;
}

#noline {
    text-decoration: none;
} 

.container {
    width: 100%;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
}
    
.block {
    background-color: var(--bg-color);
    border: 2px solid var(--second-bg-color);
    border-radius: 10px;
    padding: 2.0rem;
    margin: 2.5rem;
}

.education-container {
    width: 100%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
}
    
.education-block {
    background-color: var(--bg-color);
    border: 2px solid var(--second-bg-color);
    border-radius: 10px;
    padding: 2rem;
    margin: 3rem;
}

.education-block h2{
    font-size: 2.0rem;
    text-decoration: underline 2px;
    text-underline-offset: 2px;
    margin: .5rem;
    text-decoration-color: var(--main-color);
}


.education-block p {
    font-size: 1.8rem;
    margin: .7rem;
}

.education-list {
    font-size: 1.5rem;
}


.project-container {
    width: 100%;
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.project-block {
    background-color: var(--bg-color);
    border: 2px solid var(--second-bg-color);
    border-radius: 10px;
    padding: 2rem;
    flex-basis: calc(50% - 6rem);
    margin: 3rem;
    box-sizing: border-box;
}

.achieve-container {
    width: 100%;
    max-width: 150rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.achieve-block {
    background-color: var(--bg-color);
    border: 2px solid var(--second-bg-color);
    border-radius: 10px;
    padding: 2rem;
    flex-basis: calc(50% - 6rem);
    margin: 3rem;
    box-sizing: border-box;
}

.project-block h2, .achieve-block h2, .block h2 {
    font-size: 1.8rem;
    text-decoration: underline 2px;
    text-underline-offset: 2px;
    margin: .5rem;
    text-decoration-color: var(--main-color);
}

.project-block p, .achieve-block p, .block p {
    font-size: 1.5rem ;
}

.projectslist, .experience-list {
    font-size: 1.35rem;
}

.projectslist li, .education-list li {
    margin: 1.5rem;
}

.experience-list li{
    margin: 0.5rem;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footertext p {
    font-size: 1.6rem;
}

.footer-icon a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background-color: var(--main-color);
    border-radius: .8rem;
    transition: .5s ease;
}

.footer-icon a:hover{
    box-shadow: 0 0 1rem var(--main-color);
}

.footer-icon a i {
    font-size: 2.4rem;
    color: var(--bg-color);
}








/* ========================== Breakpoints ==================== */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home {
        flex-direction: column;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-img img {
        max-width: 320px;
        width: 70vw; 
        margin-top: 4rem;
    }

    .about {
        flex-direction: column-reverse;
    }

    .about-image img {
        width: 70vw;
        max-width: 320px;
        margin-top: 4rem;
    }

    .achieve-container, .project-container {
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
    }
    
    .achieve-block, .project-block {
        margin: 1.5rem 0; 
    }

}

@media (max-width: 575.98px){
    html{
        font-size: 50%;
    }

    .about-image img{
        display: none;
    }

}

@media (max-width: 375px){
    .home-img img {
        width: 90vw;
    }

    .about-image img {
        width: 90vw;
    }
    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}
